main.bio {
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: flex-start;

  img, h2 {
    margin: 0 auto;
    max-width: 400px;
  }

  nav {
    padding: 3.6rem 0;
    text-align: center;

    img, h2 {
      margin: 0 auto;
      max-width: 80%;
    }

    .links {
      display: flex;
      justify-content: center;
      padding-top: 3.6rem;

      a {
        align-items: center;
        border: solid .2rem #56D45B;
        border-radius: .5rem;
        display: flex;        
        margin: 0 1rem;
        padding: 1rem 2rem;
        text-decoration: none;
        transition: background-color .2s;

        &:active,
        &:focus,
        &:hover {
          background-color: rgba(102, 230, 107, .1);

          img {
            transform: rotate(20deg);
          }
        }

        img {
          height: 1.5rem;
          margin-right: 1.5rem;
          filter: invert(27%) sepia(28%) saturate(5861%) hue-rotate(138.3deg) brightness(120%) contrast(70%);
          transition: transform .2s;
        }
      }
    }
  }

  section {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 3.6rem;
    max-width: 60%;

    div {
      cursor: pointer;
      position: relative;
      margin: 1rem;
      transition: transform .1s;

      &:active,
      &:focus,
      &:hover {
        transform: scale(1.02);
      }
    }

    img {
      width: 100%;
    }

    img:active + p,
    img:focus + p,
    img:hover + p {
      opacity: 1;
    }

    p {
      align-items: center;      
      background: linear-gradient(transparent 10%, rgba(0, 0, 0, 1));      
      bottom: 0;
      display: flex;
      flex-direction: column;
      font-size: 2.6rem;
      font-weight: bold;
      height: 33%;
      justify-content: center;
      opacity: 0;
      padding: 0 1rem;
      position: absolute;
      text-align: center;
      width: 100%;
      transition: opacity .2s;
    }

    span {
      display: block;
      font-size: 1.1rem;
      margin-top: 1rem;

      &.learn-more {
        font-style: italic;
      }
    }
  }

  footer {
    padding: 3.6rem 0;
    text-align: center;

    a {
      color: white;
      margin-bottom: .5rem;
      text-decoration: none;
      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: #56D45B;
      }
    }
  }
}

.modal-artist {
  font-size: 1.3rem;
  max-width: 720px;
  overflow-y: auto;
  text-align: center;

  h1 {
    font-size: 3.2rem;
    margin-bottom: 1.3rem;
  }

  p {
    text-indent: 1.3rem;
    margin-bottom: 1.3rem;
  }
}
